<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Config\View">
        <plugin name="cache_config_data"
                type="MageSuite\ThemeHelpers\Plugin\Magento\Framework\Config\View\CacheConfigData"
                sortOrder="10"/>
    </type>
</config>
