<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="adjust_fields_validation" type="MageSuite\ThemeHelpers\Plugin\Checkout\Block\Checkout\LayoutProcessor\FieldsValidation" sortOrder="10" />
    </type>
</config>
